---
import Head from "../Head.astro";
const { title, description } = Astro.props;
---

<html lang="en" class="scoll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Head title={title} description={description} />
    <slot name="head" />
    <script>
      import invite from "../inviteRegister";
      import { getUser } from "../setUser";
      import { getCookies, cookieKeys } from "../getCookies";
      invite();
      
      const cookie = getCookies();
      if (cookie) {
        for (let key in cookieKeys) {
          if (key.includes("resumed-session")) {
            const user = await getUser(key, cookie);
            if (user) {
              localStorage.setItem("user", JSON.stringify(user));
            }
          }
        }
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
