---
import AppNav from "../components/AppNav.astro";
import AppSidebar from "../components/AppSidebar.astro";
import ResumedLogo from "../components/ResumedLogo.astro";
import Searchbar from "../components/Searchbar.astro";
import BaseLayout from "../components/layout/BaseLayout.astro";
import MenuButton from "../components/dashboard/MenuButton.astro";
---

<BaseLayout
  title="Dashboard Page"
  description="Software that provide event organizers seamless qr code generation for attendees to connect!"
>
  <div class="antialiased bg-gray-50 dark:bg-gray-900">
    <AppNav>
      <MenuButton slot="responsive-menu-btn" />
      <ResumedLogo slot="logo" />
      <Searchbar slot="blank" />
    </AppNav>
    <AppSidebar />
    <!-- react dashboard component, probably -->
    <main class="p-4 md:ml-64 h-auto pt-20">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
        <div
          class="border-2 border-dashed border-gray-300 rounded-lg dark:border-gray-600 h-32 md:h-64"
        >
        </div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64"
        >
        </div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64"
        >
        </div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64"
        >
        </div>
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"
      >
      </div>
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        >
        </div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        >
        </div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        >
        </div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        >
        </div>
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"
      >
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        >
        </div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        >
        </div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        >
        </div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        >
        </div>
      </div>
    </main>
  </div>
</BaseLayout>
