<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Resumed - Event Networking Registration">
    <meta name="author" content="Ansonika">
    <title>Resumed Events - New Event | Networking Made Easy</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{{AWS_BUCKET_NAME}}img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon"
        href="{{AWS_BUCKET_NAME}}img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
        href="{{AWS_BUCKET_NAME}}img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
        href="{{AWS_BUCKET_NAME}}img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
        href="{{AWS_BUCKET_NAME}}img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{{AWS_BUCKET_NAME}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{AWS_BUCKET_NAME}}css/menu.css" rel="stylesheet">
    <link href="{{AWS_BUCKET_NAME}}css/style.css" rel="stylesheet">
    <link href="{{AWS_BUCKET_NAME}}css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{{AWS_BUCKET_NAME}}css/custom.css" rel="stylesheet">

    <!-- MODERNIZR MENU -->
    <script src="{{AWS_BUCKET_NAME}}js/modernizr.js"></script>
    <script type="text/javascript">
        window.onload = function () {//from ww  w . j  a  va2s. c  o  m
            var today = new Date().toISOString().split('T')[0];
            document.getElementsByName("startDate")[0].setAttribute('min', today);
            const startDate = document.getElementsByName("startDate")[0];
            const endDate = document.getElementsByName("endDate")[0];
            startDate.addEventListener("change", (e) => {
                endDate.setAttribute("min", e.target.value);
                // start date cannot be more than 30 days in the future, when clicked warn user of 30 day limit using banner

                const today = new Date();
                const start = new Date(startDate.value);
                const diffTime = Math.abs(today - start);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                if (diffDays === 0) {
                    startDate.value = new Date(today.getTime() + (24 * 60 * 60 * 1000)).toISOString().split('T')[0];
                }
                else if (diffDays > 30) {
                    document.getElementById("banner").innerHTML = "<div class='alert alert-danger' role='alert'>We only support events that are less than 30 days in the future.</div>";
                    setTimeout(() => {
                        document.getElementById("banner").innerHTML = "";
                    }, 5000);
                    // disappear after 5 seconds
                    startDate.value = "";
                }

            })
            // limit start and end date to be max 7 days apart
            endDate.addEventListener("change", (e) => {
                const start = new Date(startDate.value);
                const end = new Date(endDate.value);
                const diffTime = Math.abs(end - start);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                if (diffDays === 0) {
                    endDate.value = new Date(today.getTime() + (24 * 60 * 60 * 1000)).toISOString().split('T')[0];
                }
                else if (diffDays > 2) {
                    // use  banner to  warn user of 7 day limit
                    document.getElementById("banner").innerHTML = "<div class='alert alert-danger' role='alert'>We only support events that are less than 3 days in length.</div>";
                    // disappear after 5 seconds
                    setTimeout(() => {
                        document.getElementById("banner").innerHTML = "";
                    }, 5000);
                    // reset end date
                    endDate.value = "";
                }
            })
        }
    </script>
</head>

<body>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div>

    <nav>
        <ul class="cd-primary-nav">

            <li><a href="/" class="animated_link">Home</a></li>
            <li><a href="/#features" class="animated_link">Features</a></li>
            <li><a href="/#pricing" class="animated_link">Pricing</a></li>
            <li><a href="/#contact" class="animated_link">Contact</a></li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row row-height">
            <div class="col-xl-4 col-lg-4 content-left">
                <div class="content-left-wrapper">
                    <style>
                        @media (max-width: 768px) {
                            #logoImage {
                                width: 60px;
                                height: 45px;
                            }
                        }
                        @media (min-width: 768px) {
                           #logoImage {
                                width: 100px;
                                height: 85px;
                            } 
                        }
                    </style>
                    <a href="/" id="logo"><img id="logoImage" src="{{AWS_BUCKET_NAME}}img/icon.svg" alt=""></a>
                    <div id="social">
                        <ul>
                            <li><a href="#0"><i class="icon-facebook"></i></a></li>
                            <li><a href="#0"><i class="icon-twitter"></i></a></li>
                            <li><a href="#0"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <style>
                        /* on mobile hide codeFigure*/
                        @media (max-width: 768px) {
                            #codeFigure {
                                display: none;
                            }
                        }
                    </style>
                    <!-- /social -->

                    <div >
                        <figure id="codeFigure"><img id="codeIcon" src="{{AWS_BUCKET_NAME}}img/code-icon.png" alt="" class="img-fluid" width="50%" height="70%"/></figure>
                        <div style="padding-left: 1.5rem;padding-right: 1.5rem;">
                            <h2>Elevate Your Events!</h2>
                        
                            <p>Empower Your Events with Resumed's Dynamic QR Code Generator for Speed Networking</p>
                            <a href="#start" class="btn_1 rounded mobile_btn yellow">Start Now!</a>
                        </div>
                    </div>
                    <div class="copy">© 2023 Resumed</div>
                </div>
                <!-- /content-left-wrapper -->
            </div>
            <!-- /content-left -->
            <div class="col-xl-8 col-lg-8 content-right" id="start">
                <div id="wizard_container">
                    <div id="top-wizard">
                        <span id="location"></span>
                        <div id="progressbar"></div>
                    </div>
                    <!-- /top-wizard -->
                    <form id="wrapped" method="post" action="{{SERVER_URL}}/create" enctype="multipart/form-data">
                        <input id="website" name="website" type="text" value="">
                        <!-- Leave for security protection, read docs for details -->
                        <div id="middle-wizard">
                            <div class="step">
                                <h2 class="section_title">Event Details</h2>
                                <div id="banner"></div>

                                <div class="form-group add_top_30">
                                    <label for="email">Email Address</label>
                                    <input type="email" name="email" id="email" class="form-control required"
                                        onchange="getVals(this, 'email_field');">
                                </div>

                                <div class="form-group">
                                    <label for="name">Event Name</label>
                                    <input type="text" name="name" id="name" class="form-control required"
                                        onchange="getVals(this, 'name_field');">
                                </div>
                                <div class="form-group">
                                    <label for="description">Short Description</label>
                                    <textarea name="description" id="description" class="form-control required"
                                        style="height: 75px" minlength="10" maxlength="100"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="organizers">Additional Emails <small>(comma-separated)</small></label>
                                    <textarea name="organizers" id="organizers" class="form-control"
                                        style="height: 50px"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" name="startDate" id="startDate" class="form-control required">
                                </div>
                                <div class="form-group">
                                    <label for="endDate">End Date</label>
                                    <input type="date" name="endDate" id="endDate" class="form-control required">
                                </div>
                                <div class="form-group add_bottom_30 add_top_20">
                                    <label>Upload Logo<br><small>(File accepted: .png, .jpeg, .jpg - Max file size:
                                            150KB)</small></label>
                                    <div class="fileupload">
                                        <input type="file" name="fileupload" id="logo"
                                            accept=".png,image/png,image/jpeg,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                    </div>
                                </div>


                            </div>
                            <!-- /step-->

                            <!-- /Start Branch ============================== -->
                            <div class="step">
                                <h2 class="section_title">Data Gathering Details</h2>
                                <h3 class="main_question">What information would you like us to gather from your
                                    attendees?</h3>
                                <div class="form-group add_top_30">
                                    <label class="container_check version_2">First and Last Name
                                        <input type="checkbox" name="attendee_data[]" value="fullName" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="container_check version_2">Email Address
                                        <input type="checkbox" name="attendee_data[]" value="emailAddress"
                                            class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="container_check version_2">Job Title
                                        <input type="checkbox" name="attendee_data[]" value="jobTitle" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="container_check version_2">Company
                                        <input type="checkbox" name="attendee_data[]" value="company" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <label class="add_top_20">Questions <small>(Separated by commas)</small></label>
                                <div class="form-group">
                                    <label for="custom">Write your Questions</label>
                                    <input type="text" name="attendee_data[]" id="custom" class="form-control">
                                </div>
                            </div>

                            <div class="submit step" id="end">
                                <div class="summary">
                                    <div class="wrapper">
                                        <p>After payment, we will reach out to you shortly at the email address
                                            provided: <strong id="email_field"></strong>. This email will contain some
                                            tips on how to set up your carousel and manage your event. You will be able
                                            to edit your event details, attendee data collection, and carousel display
                                            information.</p>
                                    </div>
                                    <div class="text-center">
                                        <div class="form-group terms">
                                            <label class="container_check">Please accept our <a href="#"
                                                    data-bs-toggle="modal" data-bs-target="#terms-txt"><u>Terms and
                                                        conditions</u></a> before Submit
                                                <input type="checkbox" name="terms" value="Yes" class="required">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /step last-->

                        </div>
                        <!-- /middle-wizard -->
                        <div id="bottom-wizard">
                            <button type="button" name="backward" class="backward">Prev</button>
                            <button type="button" name="forward" class="forward">Next</button>
                            <button type="submit" name="process" class="submit">Submit</button>
                        </div>
                        <!-- /bottom-wizard -->
                    </form>
                </div>
                <!-- /Wizard container -->
            </div>
            <!-- /content-right-->
        </div>
        <!-- /row-->
    </div>
    <!-- /container-fluid -->

    <div class="cd-overlay-nav">
        <span></span>
    </div>
    <!-- /cd-overlay-nav -->

    <div class="cd-overlay-content">
        <span></span>
    </div>

    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>


    <!-- Modal terms -->
    <div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>,
                        mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus,
                        pro ne quod dicunt sensibus.</p>
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam
                        dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt
                        sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum
                        accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
                        sanctus, pro ne quod dicunt sensibus.</p>
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam
                        dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt
                        sensibus.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn_1" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!-- COMMON SCRIPTS -->
    <script src="{{AWS_BUCKET_NAME}}js/jquery-3.7.0.min.js"></script>
    <script src="{{AWS_BUCKET_NAME}}js/common_scripts.min.js"></script>
    <script src="{{AWS_BUCKET_NAME}}js/velocity.min.js"></script>
    <script src="{{AWS_BUCKET_NAME}}js/common_functions.js"></script>
    <script src="{{AWS_BUCKET_NAME}}js/file-validator.js"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');
        const success = urlParams.get('success');
        const event = JSON.parse(urlParams.get('event'));
        if (success) {
            const banner = document.getElementById("banner");
            banner.innerHTML = `<div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Successful!</h4>
            <p style="margin-bottom:-0rem;">Thank you for registering ${event.displayName}. We emailed you at ${event.email}. Your event will be available on ${event.startDate} until ${event.endDate}.
                If you have any questions, please contact us at support@resumed.events.</p>
            </div>`;
            setTimeout(() => {
                banner.innerHTML = "";
            }, 6000);
        }
        if (error) {
            const type = urlParams.get('type');
            if (type === 'exists') {
                const banner = document.getElementById("banner");
                banner.innerHTML = `<div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error Occurred!</h4>
                <p style="margin-bottom:-0rem;">This event name has already been taken, please use an unique name for event.</p>
                </div>`;
                setTimeout(() => {
                    banner.innerHTML = "";
                }, 6000);
            }
        }
    </script>
    <!-- Wizard script-->
    <script src="{{AWS_BUCKET_NAME}}js/func_1.js"></script>

</body>

</html>