<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="utf-8" />
    <title> Resumed Events | Create Account </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        content="Resumed Events | Login - Software that provide event organizers seamless qr code generation for attendees to connect!"
        name="description" />
    <meta content="Resumed" name="author" />
    <!-- add meta tags -->
    <meta property="og:url" content="https://resumed.events/login" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Resumed Events | Login Page" />
    <meta property="og:description"
        content="Resumed Events | Login Page - Software that provide event organizers seamless qr code generation for attendees to connect!" />
    <meta property="og:image" content="{{CDN}}/assets/images/logo.png" />


    <!-- favicon -->
    <link rel="shortcut icon" href="{{CDN}}/assets/images/favicon_io/favicon.ico">

    <!-- Style css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />

</head>

<body>
    <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="https://resumed.events/" class="flex items-center">
                <img src="{{CDN}}/assets/images/icon.png" class="h-16 mr-3" alt="Resumed Logo">
                <!--<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Resumed</span>-->
            </a>
            <div class="flex md:order-2">
                <button type="button" hidden
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get
                    Started</button>
                <button data-collapse-toggle="navbar-sticky" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul
                    class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="/"
                            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/#features"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Features</a>
                    </li>
                    <li>
                        <a href="/#pricing"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Pricing</a>
                    </li>
                    <li>
                        <a href="/#contact"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <br />
    <br />
    <section class="bg-gray-50 dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:grid lg:gap-20 lg:py-16 lg:grid-cols-12">
      <div class="flex-col justify-between hidden col-span-6 mr-auto lg:flex xl:mb-0">
          <div>
              <div class="flex">
                  <svg class="w-5 h-5 mr-2 text-primary-600 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                  <div>
                      <h3 class="mb-2 text-xl font-bold leading-none text-gray-900 dark:text-white">Get started quickly</h3>
                      <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Integrate with developer-friendly APIs or choose low-code.</p>
                  </div>
              </div>
              <div class="flex pt-8">
                  <svg class="w-5 h-5 mr-2 text-primary-600 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                  <div>
                      <h3 class="mb-2 text-xl font-bold leading-none text-gray-900 dark:text-white">Support any business model</h3>
                      <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Host code that you don't want to share with the world in private.</p>
                  </div>
              </div>
              <div class="flex pt-8">
                  <svg class="w-5 h-5 mr-2 text-primary-600 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                  <div>
                      <h3 class="mb-2 text-xl font-bold leading-none text-gray-900 dark:text-white">Join millions of businesses</h3>
                      <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Flowbite is trusted by ambitious startups and enterprises of every size.</p>
                  </div>
              </div>
          </div>
          
      </div>
      <div class="w-full col-span-6 mx-auto bg-gray-900 rounded-lg shadow dark:bg-gray-800 md:mt-0 sm:max-w-lg xl:p-0">
          <div class="p-6 space-y-4 lg:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-white sm:text-2xl dark:text-white">
                  Create Account
              </h1>
              
                  

<form id="registerForm">
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-white dark:text-white">Your email</label>
      <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="name@resumed.events" required>
    </div>
    <div class="mb-6">
      <label for="firstName" class="block mb-2 text-sm font-medium text-white dark:text-white">Your First Name</label>
      <input type="name" id="firstName" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="John" required>
    </div>
    <div class="mb-6">
      <label for="lastName" class="block mb-2 text-sm font-medium text-white dark:text-white">Your Last Name</label>
      <input type="name" id="lastName" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Doe" required>
    </div>
    <div class="mb-6">

<label for="profilePicture" class="block mb-2 text-sm font-medium text-white dark:text-white" for="user_avatar">Upload Profile Picture</label>
<input id="profilePicture" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" type="file">
<div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">A profile picture is useful to confirm your are logged into your account</div>

    </div>
    <div class="flex items-start mb-6">
      <div class="flex items-center h-5">
        <input id="terms" type="checkbox" value="yes" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
      </div>
      <label for="terms" class="ml-2 text-sm font-medium text-gray-400 dark:text-gray-300">I agree with the <a href="/terms" target="_blank" class="text-white hover:underline dark:text-blue-500">terms and conditions</a></label>
    </div>
    <button type="submit" class="w-full text-gray-900 hover:text-white bg-white hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create Account</button>

    <p class="text-sm font-light text-gray-500 dark:text-gray-400 mt-4">
        Already have an account? <a href="/login" class="font-medium text-white hover:underline dark:text-blue-500">Log in here</a>
    </p>
    </form>
  

                  
                  
                  
          </div>
      </div>              
  </div>
</section>
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<footer class="bg-white dark:bg-gray-900">
    
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="https://resumed.events/" class="flex items-center">
                    <img src="{{CDN}}/assets/images/logo.png" class="h-24 mr-3" alt="Resumed Logo" />
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/help" class="hover:underline">Help Center</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="https://linkedin.com/in/resumed" class="hover:underline ">LinkedIn</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/terms" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/privacy" class="hover:underline">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a
                    href="https://resumed.events/" class="hover:underline">Resumed™</a>. All Rights Reserved.
            </span>

        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const axios = window.axios;
    const registerForm = document.getElementById('registerForm');
    const email = document.getElementById('email');
    const firstName = document.getElementById('firstName');
    const lastName = document.getElementById('lastName');
    const profilePicture = document.getElementById('profilePicture');
    const terms = document.getElementById('terms');
    const submitForm = async (e) => {
        e.preventDefault();
        const formData = new FormData();
        formData.append('email', email.value);
        formData.append('firstName', firstName.value);
        formData.append('lastName', lastName.value);
        formData.append('profilePicture', profilePicture.files[0]);
        formData.append('terms', terms.value);
        const params = new URLSearchParams(window.location.search);
        const redirectTo = params.get('redirectTo');
        if (redirectTo) {
            formData.append('redirectTo', redirectTo);
        }
        try {
            const { data } = await axios.post('/signup', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            });
            if (data.success) {
                window.location.href = '/login?success=true';
            }
        } catch (error) {
            console.log(error);
        }
    }
    registerForm.addEventListener('submit', submitForm);
</script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

</body>